<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.rogueai.eegg.view.EEggView"
            id="com.rogueai.eegg.view.EEggView"
            name="EEgg"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.rogueai.eegg.command.Show3DCommand"
            name="Show 3D">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rogueai.eegg.command.Show3DHandler"
            commandId="com.rogueai.eegg.command.Show3DCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rogueai.eegg.command.Show3DCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+3">
      </key>
   </extension>

</plugin> 
